@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #ff3b30;
        --color-secondary: #9dbb2f;
    }
}

html {
    scroll-behavior: smooth;
}

*,
body {
    box-sizing: border-box;
}

.background-animate {
    background-size: 400%;
    animation: AnimationName 3s ease-in-out infinite;
}

@keyframes AnimationName {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}


#content h1 {
    @apply text-5xl font-black my-12
}

#content h2 {
    @apply text-3xl font-black my-12
}

#content h3 {
    @apply text-2xl font-black my-4
}

#content h4 {
    @apply text-xl font-black my-4
}

#content p {
    @apply my-4 text-lg
}

#content a {
    @apply text-primary
}

#content a:hover {
    @apply underline
}

#content ul {
    @apply pl-4
}

#content li {
    @apply list-disc list-inside
}

button.deafult {
    @apply bg-primary px-4 py-2 rounded-full text-white
}



pre {
    padding: 8px;
}



table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    @apply p-2
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: left;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}