@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #ff3b30;
        --color-secondary: #9dbb2f;
    }
}

html {
    scroll-behavior: smooth;
}

*,
body {
    box-sizing: border-box;
}

.background-animate {
    background-size: 400%;
    animation: AnimationName 3s ease-in-out infinite;
}

@keyframes AnimationName {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}


#content h1 {
    @apply text-4xl font-black
}

#content h2 {
    @apply text-3xl font-black
}

#content h3 {
    @apply text-2xl font-black
}

#content h4 {
    @apply text-xl font-black
}

#content p {
    @apply my-4 text-lg
}


button.deafult {
    @apply bg-primary px-4 py-2 rounded-full text-white
}