---
import ThemeSwicher from "../components/theme-switcher.astro";
---

<header
    class="sticky top-0 z-30 bg-white/50 backdrop-blur backdrop-filter dark:bg-gray-900/50 px-4 md:px-0"
>
    <div
        class="div flex justify-between mx-auto w-full max-w-7xl py-4 border-b border-gray-50 dark:border-gray-800"
    >
        <a href="/" class="flex items-center gap-4">
            <img src="/images/hamaka.svg" alt="" height="32" width="32" />
            <span class="font-black">Hamaka</span>
        </a>
        <nav>
            <a href="#">blog</a>
        </nav>
        <ThemeSwicher />
    </div>
</header>
