---
const { src } = Astro.props;
---

<div
    id="preview"
    class="flex items-center justify-center bg-white/50 dark:bg-gray-900/50 backdrop-blur backdrop-filter cursor-zoom-in transition-all"
>
    <img src={src} alt="" loading="lazy" />
</div>

<script>
    const preview = document.getElementById("preview");
    const classes = [
        "fixed",
        "h-screen",
        "w-screen",
        "top-0",
        "left-0",
        "z-[9999]",
        "cursor-zoom-out",
    ];
    preview?.addEventListener("click", () => {
        preview.classList.contains("fixed")
            ? preview?.classList.remove(...classes)
            : preview?.classList.add(...classes);
    });
</script>
