---
const links = ["Inicio", "Blog", "Contacto", "Acerca de"];
---

<aside class="w-3/12 relative hidden lg:block">
    <div class="sticky top-32">
        <div class="flex flex-col rounded-lg w-full mb-6 gap-2">
            {
                links.map((l) => (
                    <a
                        class="hover:text-white hover:bg-primary dark:hover:bg-primary bg-gray-50 dark:bg-gray-800/20 font-black px-4 py-2 rounded-lg text-xl"
                        href="#top"
                    >
                        {l}
                    </a>
                ))
            }
        </div>
        <slot />
        <div class="my-4">
            <div class="font-bold mb-3">Systema de inventarios</div>
            <ol>
                <li class="ml-8">Introducción</li>
            </ol>
        </div>
        <button
            class="text-left my-2 py-2 px-4 border bg-gray-50 dark:bg-gray-800 border-gray-100 dark:border-gray-700 rounded-lg hover:shadow-lg hover:-translate-y-2 transition-all"
        >
            <di class="text-sm text-gray-400">Prev</di>
            <div class="text-gray-600">Configuración del entono de trabajo</div>
        </button>
        <button
            class="text-left my-2 py-2 px-4 border bg-gray-50 dark:bg-gray-800 border-gray-100 dark:border-gray-700 rounded-lg hover:shadow-md hover:-translate-y-2 translate-all"
        >
            <di class="text-sm text-gray-400 dark:text-gray-400">next</di>
            <div class="text-gray-600 dark:text-gray-300">
                Configuración del entono de trabajo
            </div>
        </button>
    </div>
</aside>
