---
const posts = await Astro.glob("../../content/index/*.md");
---

<meta charset="utf-8" />
<div>
    {
        posts.slice(0, 3).map((post) => (
            <article>
                <h1>{post.frontmatter.title}</h1>
                <p>
                    <post.Content />
                </p>
                <a href={post.url}>Read more</a>
            </article>
        ))
    }
</div>
