---
import SidebarLayout from "../../layouts/sidebar-layout.astro";
---

<SidebarLayout title="Projects">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        quibusdam, est eos ea in ducimus id fuga amet ratione tempora
        voluptatibus odio quidem sit similique, fugit quas esse qui laudantium.
    </p>
</SidebarLayout>
