---
import SidebarLayout from "../../layouts/main-layout.astro";
import Card from "../../components/card.astro";

let projects = await Astro.glob("../../pages/projects/**/index.mdx");
projects.sort((a, b) => (a.frontmatter.id < b.frontmatter.id ? 1 : -1));
---

<SidebarLayout title="Projects">
    <section class="py-4" id="projects">
        <h2 class="text-3xl font-black mb-8">Todos los Proyectos</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {projects.slice(0, 4).map((post) => <Card post={post} />)}
        </div>
    </section>
</SidebarLayout>
