---
import MainLayout from "../../layouts/main-layout.astro";

export async function getStaticPaths() {
    const projects = await Astro.glob("../../content/index/*.md");

    const hola = projects.map((p) => ({
        params: {
            slug: p.frontmatter.slug,
        },
    }));

    return hola;
}

const { slug } = Astro.params;
const post = await Astro.glob(`../../content/index/*.md`);
const data = post.find((p) => p.frontmatter.slug === slug);
---

<MainLayout title={data.frontmatter.title}>
    <div class="flex relative gap-8">
        <div class="w-1/2 p-8">
            <div class="sticky top-32">
                <img class="my-4" src={data.frontmatter.thumbnail} alt="" />

                <button class="deafult">Ver live example</button>
            </div>
        </div>
        <div class="w-1/2">
            <data.Content />
        </div>
    </div>
</MainLayout>
