---
import Header from "../components/header.astro";
import Sidebar from "../components/sidebar.astro";
import "../styles/global.css";
const { title } = Astro.props;

const year = new Date().getFullYear();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/images/hamaka.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>Hamaka - {title}</title>
    </head>
    <body
        class="bg-white text-gray-800 dark:bg-gray-900 dark:text-white scroll-smooth relative"
    >
        <Header />
        <div
            class="flex w-full max-w-7xl mx-auto gap-16 z-10 mt-12 rounded-lg relative"
        >
            <Sidebar />
            <main class="w-full mx-auto px-8 lg:p-0">
                <slot />
                <footer class="w-full text-center py-8">
                    <div>
                        <a
                            href="https://storyset.com/people"
                            class="hover:underline"
                            >People illustrations by Storyset</a
                        >
                    </div>
                    <div>
                        © {year} Hamaka | Made with 🖤 by
                        <a
                            href="https://github.com/andarms"
                            class="text-primary hover:underline"
                        >
                            Adrian Manjarres
                        </a>
                        in 🇨🇴
                    </div>
                </footer>
            </main>
        </div>
    </body>
</html>
